h1 {
    text-align: center;
    font-weight: bold;
    background-color: brown;
    color: aquamarine;
}

.main-links {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: burlywood;
}

.main-image {
    height: auto;
    width: 500px;
}

#recipe-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background-color: blanchedalmond;
    color: darkred;
}

h3 {
    text-align: center;
    font-size: 28px;
    color: red;
    font-weight: bold;
}

.ingredients, .steps {
    font-size: 24px;
}